[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

django = "*"
django-heroku = "*"
gunicorn = "*"
pandas = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
whitenoise = "*"
dj-database-url = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
nltk = "*"
twython = "*"
python-decouple = "*"
pathlib = "*"


[dev-packages]

